### Java ###
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.log
*.jks
*.db
*.iml

### Compilation output ###
/target/
/out/
/bin/
/build/

### Maven ###
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
gradle-app.setting

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse ###
.project
.classpath
.c9/
*.launch
.settings/
.metadata/
bin/

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### VS Code ###
.vscode/

### OS Files ###
.DS_Store
Thumbs.db

### Logs ###
*.log

### Others ###
*.swp
*.tmp
*.bak
*.orig
*.rej
*.sublime-workspace
*.sublime-project
